{% extends 'base.html' %}
{% block title %}Connexion - Grandboard{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-6 col-xl-4">
    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <h2 class="h4 mb-4">{{ t('login') }}</h2>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            <label class="form-label">{{ t('password') }}</label>
            {{ form.password(class="form-control", autofocus=true) }}
            {% if error %}
              <div class="text-danger small mt-2">{{ t('incorrect_password') }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-dark w-100">{{ t('login') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
